<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="Test"
				address="net.tcp://localhost:4000/ITest"
				binding="netTcpBinding"
				contract="Common.ITest" />
		</client>
	</system.serviceModel>
</configuration>